.18_106 { 
	overflow:hidden;
}.e18_106 { 
	background-color:rgba(255, 255, 255, 1);
	width:1728px;
	height:1117px;
	position:absolute;
}.e75_210 { 
	width:196px;
	height:44px;
	position:absolute;
	left:970px;
	top:-71px;
}.e75_209 { 
	color:rgba(66.00000366568565, 91.00000217556953, 132.0000073313713, 0.5);
	width:196px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lora;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e39_701 { 
	width:195px;
	height:44px;
	position:absolute;
	left:524px;
	top:-142px;
}.e39_698 { 
	color:rgba(66.00000366568565, 91.00000217556953, 132.0000073313713, 0.5);
	width:195px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lora;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e39_703 { 
	width:211px;
	height:44px;
	position:absolute;
	left:926px;
	top:-142px;
}.e39_700 { 
	color:rgba(66.00000366568565, 91.00000217556953, 132.0000073313713, 0.5);
	width:211px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lora;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e18_107 { 
	width:1728px;
	height:1048px;
	position:absolute;
	left:0px;
	top:69px;
	background-image:url(images/sito_sharon_7_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_123 { 
	width:1728px;
	height:69px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_108 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.15000000596046448);
	background-color:rgba(0, 71.00001856684685, 171.00000500679016, 0.800000011920929);
	width:1728px;
	height:69px;
	position:absolute;
	left:0px;
	top:0px;
}.18_108 { 
	border:1px solid rgba(0, 71.00000336766243, 171.00000500679016, 1);
}.e18_109 { 
	color:rgba(255, 255, 255, 1);
	width:264px;
	height:38px;
	position:absolute;
	left:1439px;
	top:15px;
	font-family:Lora;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e18_114 { 
	width:814px;
	height:55px;
	position:absolute;
	left:485px;
	top:305px;
}.e18_115 { 
	background-color:rgba(0, 71.00000336766243, 171.00000500679016, 0.6000000238418579);
	width:814px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e18_116 { 
	color:rgba(255, 255, 255, 1);
	width:230.3773651123047px;
	height:44px;
	position:absolute;
	left:33.07982635498047px;
	top:5px;
	font-family:Lora;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e18_117 { 
	color:rgba(255, 255, 255, 1);
	width:215px;
	height:44px;
	position:absolute;
	left:577px;
	top:5px;
	font-family:Lora;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e18_118 { 
	color:rgba(255, 255, 255, 1);
	width:196px;
	height:44px;
	position:absolute;
	left:309px;
	top:5px;
	font-family:Lora;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e18_119 { 
	width:1277px;
	height:317px;
	position:absolute;
	left:225px;
	top:493px;
}.e18_120 { 
	background-color:rgba(0, 71.00000336766243, 171.00000500679016, 0.6000000238418579);
	width:1277px;
	height:296px;
	position:absolute;
	left:0px;
	top:21px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e18_121 { 
	color:rgba(255, 255, 255, 1);
	width:1233px;
	height:265px;
	position:absolute;
	left:21px;
	top:0px;
	font-family:Lora;
	text-align:left;
	font-size:150px;
	letter-spacing:0;
}.e18_122 { 
	color:rgba(255, 255, 255, 1);
	width:593px;
	height:128px;
	position:absolute;
	left:370px;
	top:172px;
	font-family:Lora;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
}.e100_128 { 
	width:274px;
	height:57px;
	position:absolute;
	left:755px;
	top:943px;
}.e100_129 { 
	background-color:rgba(0, 71.00000336766243, 171.00000500679016, 0.6000000238418579);
	width:274px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e100_132 { 
	color:rgba(255, 255, 255, 1);
	width:219px;
	height:54px;
	position:absolute;
	left:27px;
	top:2px;
	font-family:Lora;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e39_408 { 
	width:98px;
	height:46px;
	position:absolute;
	left:16px;
	top:10px;
}.ei39_408_39_265 { 
	width:98px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
}.ei39_408_39_266 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:98px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
}.ei39_408_39_267 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:10px;
	top:14px;
}.ei39_408_39_268 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:37px;
	top:14px;
}.ei39_408_39_269 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:64px;
	top:14px;
}